In [1]:
import pandas as pd

In [15]:
df=pd.read_json('c:\\Users\hazem.hazem/Desktop/capstone/json/*.json')

FileNotFoundError: File c:\Users\hazem.hazem/Desktop/capstone/json/*.json does not exist

In [4]:
df.head()

,Unnamed: 0,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,pickup_time,months
0,1,2.0,01/01/2020 12:45:58 AM,01/01/2020 12:56:39 AM,N,5.0,66,65,2.0,1.28,...,4.06,0.0,NaN,0.3,24.36,1.0,2.0,0.00,2020-01-01 00:45:58,1
1,2,2.0,01/01/2020 12:41:38 AM,01/01/2020 12:52:49 AM,N,1.0,181,228,1.0,2.47,...,3.54,0.0,NaN,0.3,15.34,1.0,1.0,0.00,2020-01-01 00:41:38,1
2,3,1.0,01/01/2020 12:52:46 AM,01/01/2020 01:14:21 AM,N,1.0,129,263,2.0,6.30,...,0.00,0.0,NaN,0.3,25.05,2.0,1.0,2.75,2020-01-01 00:52:46,1
3,4,1.0,01/01/2020 12:19:57 AM,01/01/2020 12:30:56 AM,N,1.0,210,150,1.0,2.30,...,0.00,0.0,NaN,0.3,11.30,1.0,1.0,0.00,2020-01-01 00:19:57,1
4,5,1.0,01/01/2020 12:52:33 AM,01/01/2020 01:09:54 AM,N,1.0,35,39,1.0,3.00,...,0.00,0.0,NaN,0.3,14.80,1.0,1.0,0.00,2020-01-01 00:52:33,1

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,pickup_time,months
1,2.0,01/01/2020 12:45:58 AM,01/01/2020 12:56:39 AM,N,5.0,66,65,2.0,1.28,20.0,...,4.06,0.0,NaN,0.3,24.36,1.0,2.0,0.00,2020-01-01 00:45:58,1
2,2.0,01/01/2020 12:41:38 AM,01/01/2020 12:52:49 AM,N,1.0,181,228,1.0,2.47,10.5,...,3.54,0.0,NaN,0.3,15.34,1.0,1.0,0.00,2020-01-01 00:41:38,1
3,1.0,01/01/2020 12:52:46 AM,01/01/2020 01:14:21 AM,N,1.0,129,263,2.0,6.30,21.0,...,0.00,0.0,NaN,0.3,25.05,2.0,1.0,2.75,2020-01-01 00:52:46,1
4,1.0,01/01/2020 12:19:57 AM,01/01/2020 12:30:56 AM,N,1.0,210,150,1.0,2.30,10.0,...,0.00,0.0,NaN,0.3,11.30,1.0,1.0,0.00,2020-01-01 00:19:57,1
5,1.0,01/01/2020 12:52:33 AM,01/01/2020 01:09:54 AM,N,1.0,35,39,1.0,3.00,13.5,...,0.00,0.0,NaN,0.3,14.80,1.0,1.0,0.00,2020-01-01 00:52:33,1

In [27]:
df1=df[df['months']==1]
df2=df[df['months']==2]
df3=df[df['months']==3]
df4=df[df['months']==4]
df5=df[df['months']==5]
df6=df[df['months']==6]
df7=df[df['months']==7]
df8=df[df['months']==8]
df9=df[df['months']==9]
df10=df[df['months']==10]
df11=df[df['months']==11]
df12=df[df['months']==12]

In [ ]:
pd.read_parquet('taxi_data.parquet')